<div class="event-info">
	<div>HMSN205 - Introduction à l'algorithmique pour la bioinformatique
	<br><a href="https://moodle.umontpellier.fr/enrol/index.php?id=1598">Lien du cours moodle : https://moodle.umontpellier.fr/enrol/index.php?id=1598</a></div>
</div>