<div class="event-info">
	<div>HMIN216M - Analyse et conduite de projet
	<br><a href="https://moodle.umontpellier.fr/enrol/index.php?id=5876">Lien du cours moodle : https://moodle.umontpellier.fr/enrol/index.php?id=5876</a></div>
</div>