<div class="event-info">
	<div>HMSN204 - Info Biologique et Outils Bioinformatiques
	<br><a href="https://moodle.umontpellier.fr/course/view.php?id=5814">Lien du cours moodle : https://moodle.umontpellier.fr/course/view.php?id=5814</a></div>
</div>