<div class="event-info">
	<div>HMSN206 - Alignement et Phylogénie
	<br><a href="https://moodle.umontpellier.fr/enrol/index.php?id=1648">Lien du cours moodle : https://moodle.umontpellier.fr/enrol/index.php?id=1648</a></div>
</div>