<div class="event-info">
	<div>HMIN232M Méthodes de la science des données
	<br><a href="https://moodle.umontpellier.fr/course/view.php?id=10395">Lien du cours moodle : https://moodle.umontpellier.fr/course/view.php?id=10395</a></div>
</div>